

<% if @article.errors.any? %>
<div class="panel panel-danger">
  <div class="panel-body">
    <%="Error".pluralize(@article.errors.count) %>
  </div>
  <div class="panel-footer">  
  <ol>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ol>
  </div>
</div>

<% end %>
<div class="row">
<div class="col-md-6">
<%= bootstrap_form_for(@article) do |f| %>
  <p>
 
  <%=f.text_field :title %>
  </p>
  <p>
    <%=f.text_area :description %>
  </p>
  <%=f.submit class: 'btn btn-primary'%>
</div>
</div>

<%= link_to '[Back to Article Listing]',articles_path(@article) %>
  <% end %>