<div class="center">
<h1><%= @article.title %></h1>
</div>

<br/>
<div>
<p>
<%= @article.description %>
</p>
</div>
<br/>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">

<%= link_to 'Delete' , article_path(@article) , method: :delete ,data: {confirm: "Are You Sure ?" }, class: 'btn btn-danger btn-small' %>

<%= link_to 'Edit Article' , edit_article_path(@article),class: 'btn btn-primary btn-small' %>

<%= link_to '[Back to Article Listing]',articles_path(@article) ,class: 'btn btn-info btn-small'%>

</div>
<div class="col-md-4"></div>
</div>