<!DOCTYPE html>
<html>
<head>
  <title>NoobBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar.html' %>
<%= render 'layouts/messages.html' %>
<div class="container">
<%= yield %>
</div>
<%= render 'layouts/footer.html' %>

</body>
</html>
